<%=javascript_include_tag "prototype"%>                                         
<%=javascript_include_tag "jquery_data_table" %>                                
<%=javascript_include_tag "jquery.dataTables.min" %>                            
                                                                                
<%= stylesheet_link_tag "demo_table" %>                                         
<%= stylesheet_link_tag "demo_table_jui" %>                                     
<%= stylesheet_link_tag "demo_page" %>

<style>

  .buttons {
    width: 400px !important;
  }

  .sidebar-nav {
    text-align: center;
  }

  #search_results {
    font-size: 11px;
    width: 100% !important;
  }

  #search_results_length {
    left: -24px;
    position: absolute;
    top: -35px;
  }

  #search_results_filter {
    right: 3px;
    position: absolute;
    top: -35px;
  }

  .dataTables_info {
    text-align: left;
  }

</style>


<script>

function findStudents() {
  var search_str = document.getElementById('search_words').value;

  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();                                             
    }else{// code for IE6, IE5                                                  
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
    }                                                                           
    xmlhttp.onreadystatechange=function() {                                     
      if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
        var results = xmlhttp.responseText;                                     
        if(results == 'undefined' || results == '' || results == '"not validate"') {                           
          return;
        }else{                                                                  
          document.getElementById('results-cont').innerHTML = results;                                                           
          dataT();
        }                                                                       
      }                                                                         
    }                                                                           
    xmlhttp.open("GET","/students/live_search?search_str="+search_str,true);           
    xmlhttp.send();
}

function dataT(){                                                               
 $('#search_results').dataTable();                                                  
}



</script>


  <div id = "page-title">
    Students
    <div class="navbar-search pull-right" action="/products/search">
      <input type="text" class="search-query" 
        placeholder="Search" id = "search_words"
        onkeyup = "findStudents();"
        name="search_string">
    </div>
  </div>

  <div class="well sidebar-nav">

   <br />
   <br />
   <br />
   <br />

  <div id = "results-cont">

  <table id="search_results" class="table table-striped table-bordered table-condensed">                                                     
  <thead>                                                                         
  <tr id = 'table_head'>                                                          
    <th id="th1" style="width:200px;">Student ID</th>                             
    <th id="th2" style="width:200px;">First name</th>                             
    <th id="th3" style="width:200px;">Middle name</th>                              
    <th id="th3" style="width:200px;">Last name</th>                              
    <th id="th4" style="width:85px;">Sex</th>                                     
    <th id="th5" style="width:150px;">DOB</th>                                    
    <th id="th7" style="width:100px;">&nbsp;</th>                                 
  </tr>                                                                           
  </thead>                                                                        
  <tbody id='results'>
    <%(@students || []).each do |student| %>                                                                 
    <tr>
      <td><%=student.try(:id)%></td>
      <td><%=student.try(:first_name)%></td>
      <td><%=student.try(:middle_name)%></td>
      <td><%=student.try(:last_name)%></td>
      <td><%=student.try(:gender)%></td>
      <td><%=student.try(:birthdate)%></td>
      <td><a href="/students/show/<%=student.try(:id)%>">Show</a></td>
    </tr>                            
    <%end%>                                         
  </tbody>                                                                        
  </table>         

  </div>


  </div>

<script>
  dataT();
</script>
