<style>

  .buttons {
    width: 400px !important;
  }

  .sidebar-nav {
    font-size: 12px;
    padding-bottom: 40px;
  }

  .demographics {
    width: 99%;
  }

  .demographics td , th{
    text-align: left;
  }

  #sub-content-view {
    background-color: #FFFFDD;
    height: auto;
    border: 1px dotted #696969;
  }

  #sub-content-view hr {
    border-style: dotted;
    border-width: 1px;
    margin-left: 12px;
    margin-right: 12px; 
    background-color: black;
  }


  .demographics {
  margin-left: 10px;
  margin-top: 10px;
  font-family: Tahoma,Verdana,Arial;
  font-size: 11px; 
  width: 98%;
  text-align: left;
}

.demographics th{
  word-wrap: break-word;
  vertical-align: top;
  color: #404040;
}

.demographics td{
  vertical-align: top;
}

.xool_information {                                                           
  font-size: 11px;                                                              
  margin-left: 12px;                                                            
  margin-right: 12px;                                                           
}
</style>


  <div id = "page-title">
    Student dashboard
  </div>

  <div class="well sidebar-nav">

    <div id = "sub-content-view">

    <table class = "demographics">
      <tr>
        <th>Name:&nbsp;</th>
        <td>
          <%= @student.first_name %>&nbsp;
          <%= @student.first_name %>
        </td>
        <th>Sex:&nbsp;</th><td><%=@student.gender%></td>
      </tr>
        <th>DOB:&nbsp;</th><td><%=@student.birthdate.strftime('%d %B %Y')%></td>
        <th>ID number:&nbsp;</td><td><%=params[:id].rjust(5,'0')%></td>
        <!--th>Occupation:&nbsp;</th><td><%#=''%></td-->
      </tr>
      <tr>
        <th>Address:&nbsp;</th><td><%=''%></td>
        <th>Home district:&nbsp;</th><td><%=''%></td>
        <!--th>Land mark:&nbsp;</th><td><%#=''%></td -->
      </tr>
    </table>

    <hr />

    <p class="xool_information"><strong>School information</strong></p>
    <p class="xool_information">Date registered:&nbsp;                        
    <%=@student.created_at.strftime('%A %d %B %Y') rescue nil%></p>
    <p class="xool_information">Program(s) enrolled:</p>











  </div>
  
  <div style="padding-top:10px;float:right;">
    <table>
    <tr>
      <td><a href="#">Enroll into a program</a>&nbsp;&nbsp;</td>
      <td><a href="#">Remove from program</a>&nbsp;&nbsp;</td>
      <td><a href="#">Edit demographics</a>&nbsp;&nbsp;</td>
      <td><a href="#">Void</a></td>
    </tr>
    </table>
  </div>



  </div>

