<style>
  li { display: none; } 

  .brand-name { display: inline; } 

  #image-logo {                                                                   
    position: relative;                                                           
    float: left;                                                                  
    width: 22%;                                                                   
    height:385px;     
    padding-top: 15px;                                                            
  }  

  #login-box {                                                                    
    background-color: #FFFFFF;                                                    
    border: 1px solid #AAAAAA;                                                    
    padding: 15px 5px 15px 5px;
  }   
  
</style>


<%= form_tag "/users/login" do %>

  <div id = "image-logo">                                                        
    <%= image_tag("keys.png" ,:id => "keys")%>                                    
  </div>

  <div id = "login-box">
  
  <p>  
     <%=text_field(:user, :username, :textCase => "lower",:placeholder => "username") %>
  </p>  
  <p>  
     <%=password_field(:user, :password, :textCase => "lower",:placeholder => "password") %>
  </p>  
  <%= submit_tag "Login" ,:class => "btn" %>
<% end %> 

</div>
