<%=javascript_include_tag "prototype"%>                                         
<%=javascript_include_tag "jquery_data_table" %>                                
<%=javascript_include_tag "jquery.dataTables.min" %>                            
                                                                                
<%= stylesheet_link_tag "demo_table" %>                                         
<%= stylesheet_link_tag "demo_table_jui" %>                                     
<%= stylesheet_link_tag "demo_page" %>

<style>

  .buttons {
    width: 400px !important;
  }

  .sidebar-nav {
    text-align: center;
  }

  #search_results {
    font-size: 11px;
    width: 100% !important;
  }

  #search_results_length {
    left: -24px;
    position: absolute;
    top: -35px;
  }

  #search_results_filter {
    right: 3px;
    position: absolute;
    top: -35px;
  }

  .dataTables_info {
    text-align: left;
  }

  .sidebar-nav {                                                                
    padding-bottom: 25px;                                                       
  }

  .continue {
    bottom: 10px;
    float: right;
    position: relative;
  }
</style>


<script>
var selected_modules = [];
var program = "<%=Programs.find(params[:id]).name%>";

function findPrograms() {
  var search_str = document.getElementById('search_words').value;

  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();                                             
    }else{// code for IE6, IE5                                                  
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
    }                                                                           
    xmlhttp.onreadystatechange=function() {                                     
      if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
        var results = xmlhttp.responseText;                                     
        if(results == 'undefined' || results == '' || results == '"not validate"') {                           
          return;
        }else{                                                                  
          document.getElementById('results-cont').innerHTML = results;                                                           
          dataT();
        }                                                                       
      }                                                                         
    }                                                                           
    xmlhttp.open("GET","/subjects/live_search?search_str="+search_str+"&selecting_modules=true",true);           
    xmlhttp.send();
}

function dataT(){                                                               
 $('#search_results').dataTable();                                                  
}

function addModule(module_id) {
  selected_modules.push(module_id);
  alert("Added to: " + program);
}

function submitSelection() {
  document.getElementById('module_ids').value = selected_modules.join(',');
  document.getElementsByTagName('form')[0].submit();
}
</script>


  <div id = "page-title">
    Select modules for&nbsp;<%=Programs.find(params[:id]).name%>&nbsp;program
    <div class="navbar-search pull-right" action="#">
      <input type="text" class="search-query" 
        placeholder="Search" id = "search_words"
        onkeyup = "findPrograms();"
        name="search_string">
    </div>
  </div>

  <div class="well sidebar-nav">

   <br />
   <br />
   <br />
   <br />

  <div id = "results-cont">

  <table id="search_results" class="table table-striped table-bordered table-condensed">                                                     
  <thead>                                                                         
  <tr id = 'table_head'>                                                          
    <th id="th1" style="width:200px;">Module ID</th>                             
    <th id="th2" style="width:200px;">Module name</th>                             
    <th id="th3" style="width:200px;">Date created</th>                              
    <th id="th7" style="width:100px;">&nbsp;</th>                                 
  </tr>                                                                           
  </thead>                                                                        
  <tbody id='results'>
    <%(@subjects || []).each do |subject| %>                                                                 
    <tr>
      <td><%=subject.try(:id)%></td>
      <td><%=subject.try(:name)%></td>
      <td><%=subject.try(:created_at).strftime('%d %B %Y') rescue 'Unknown'%></td>
      <td><a href='#' onclick="addModule(<%=subject.try(:id)%>)">Select</a></td>
    </tr>                            
    <%end%>                                         
    <%if @subjects.blank?%>     
      <tr>
        <td colspan="4" style="text-align:center;">No modules created</td>
      </tr>                                    
    <%end%>                                         
  </tbody>                                                                        
  </table>         
  
    <div class="continue">
      <input type="button" class='btn' value="Continue" onclick="submitSelection();" />
    </div>
  </div>


  </div>


  <%= form_tag :controller => 'programs',:action => 'confrim_module_selection', :method => :post  do %>
    <input type="hidden" name="program_id" value="<%=params[:id]%>"> 
    <input type="hidden" name="module_ids" value="" id="module_ids">
  <%end%>

<script>
  dataT();
</script>
