<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag "bootstrap" %>                                              
  <%= stylesheet_link_tag "bootstrap.min" %>                                              
  <%= stylesheet_link_tag "bootstrap-responsive" %>                                              
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>                                              
  <%= stylesheet_link_tag "docs" %>                                               
  <%= stylesheet_link_tag "prettify" %> 
                                                                                
  <%= javascript_include_tag "jquery" %>                                              
  <%= javascript_include_tag "bootstrap-tab" %>                                   
  <%= javascript_include_tag "bootstrap-dropdown" %>  


  <title>Xcore</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

 <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- a class="brand" href="#">xcore</a -->
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <% if session[:user_id].blank? %>
                Login
              <%else%>
                Logged in as <a href="#" class="navbar-link"><%=Users.current_user.username%></a>
              <%end%>
            </p>
            <ul class="nav">
              <li class="brand-name"><a class="brand" href="/">xcore</a></li>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">Staff</a></li>
              <li><a href="/students/view">Students</a></li>
              <li class="dropdown">                                  
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Programs<b class="caret"></b></a>
                <ul class="dropdown-menu">                                                
                  <li><a href="#">Exams</a></li>                         
                  <li><a href="#">Results</a></li>  
                  <li><a href="/programs/dashboard">Programs</a></li>  
                  <li><a href="/subjects/dashboard">Subjects</a></li>  
                  <li><a href="#">Past papers</a></li>  
                </ul>                                                                     
              </li>
              <li><a href="#contact">Reports</a></li>
              <li class="dropdown" style="float:right;">                                  
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Settings<b class="caret"></b></a>
                <ul class="dropdown-menu">                                                
                  <li><a href="#">Account</a></li>                         
                  <li><a href="/users/login">Logout</a></li>  
                </ul>                                                                     
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

        <%= yield %>

    </div>


  </body>
</html>

